<svg version="1.1" id="svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="80px" y="0px" viewBox="50 0 250 400" width="250px" height="400px" xml:space="preserve">
<!-- face -->
<path fill="#00bfa5" class="svg-no" d="
M150 80 H200 L250 100 L270 150 L250 300 L200 320 H150 L100 300 L80 150 L100 100 L150 80 Z
" style="stroke:#fff;stroke-width: 5;"></path>          
<!-- hair -->
<path fill="#fff" d="M100 100 L140 150 L140 130 L190 160 L185 135 L240 155 L220 120 L270 150 L250 100 L200 80 L150 80Z" style="stroke:#fff;stroke-width: 5;"></path>
<!-- ear-->
<path fill="#00bfa5" class="svg-no" d="
M85 190 H66 V240 L93 250 Z
" style="stroke:#fff;stroke-width: 5;"></path>
<path fill="#00bfa5" class="svg-no" d="
M265 190 H284 V240 L257 250 Z
" style="stroke:#fff;stroke-width: 5;"></path>          
<!-- eyebrow -->
<path class="svg-no left-eyebrow" d="
M120 170 H150 Z
" style="stroke:#fff;stroke-width: 5;"></path>
<path class="right-eyebrow" class="svg-no" d="
M200 170 H230 Z
" style="stroke:#fff;stroke-width: 5;"></path>
<!-- eyes -->
<circle class="left-eye" cx="135" cy="200" r="10" fill="#fff"></circle>
<circle class="right-eye" cx="215" cy="200" r="10" fill="#fff"></circle>
<!-- nose -->
<path d="M160 240 H190" style="stroke:#fff;stroke-width: 5;"></path>      
<!-- MOUSE -->
<path d="M150 290 L200 285 Z" style="stroke:#fff;stroke-width: 5;"></path>          
<!-- SHOULDERS -->
<path d="M135 330 L50 350"  style="stroke:#fff;stroke-width: 5;"></path>
<path d="M215 330 L300 350"  style="stroke:#fff;stroke-width: 5;"></path>
<path fill="#00bfa5" class="svg-no" d="M120 335 
C 200 390 200 390 230 335
"  style="stroke:#fff;stroke-width: 5;"></path>
<!-- neck -->
<path class="svg-no" d="M130 310 L140 350" style="stroke:#fff;stroke-width: 5;"></path>
<path class="svg-no" d="M220 310 L210 350" style="stroke:#fff;stroke-width: 5;"></path>
</svg>