
font-face(family, font=family, weight=normal, style=normal)
  @font-face
    font-family: family
    font-weight: weight
    font-style: style
    src: url('assets/fonts/'+font+'/'+font+'.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/'+font+'/'+font+'.woff') format('woff'),
        url('assets/fonts/'+font+'/'+font+'.ttf')  format('truetype'),
        url('assets/fonts/'+font+'/'+font+'.svg#'+font+'') format('svg')
        
// Example:
// font-face('OpenSans', 'OpenSans-BoldItalic', 700, italic)
// font-face('OpenSans', 'OpenSans-DemiItalic', 600, italic)
// font-face('OpenSans', 'OpenSans-Demi', 600)
// font-face('OpenSans', 'OpenSans-LightItalic', 300, italic)
// font-face('TrajanPro', 'TrajanPro-Regular', 400)