body.print
  min-width 0
  .container 
    width 1080px
    position relative
    background-color #00bfa5
    margin 0
    clearfix()
  .sidebar
    width 330px
    padding 25px
    margin-bottom 0
    position relative
    float left
  .side-info li 
    padding-top 20px
  .side-info dt
    font-size 20px
  .side-info dd 
    font-size 16px
  .note 
    margin-top 100px
    font-size 20px
  .main 
    position relative
    float right
    left 0
    width 750px
    padding 10px 20px 10px 20px
    box-sizing border-box
  .main-info > li 
    padding-top 10px
  .main-info dt 
    font-size 26px
  .main-info dd 
    font-size 17px
  .main-info span 
    font-size 18px
  h3 
    font-size 20px
  h4 
    font-size 20px
  h4 a,
  h5 a 
    font-size 14px
  h5 
    font-size 18px
  .exp 
    border-left 2px solid #00796b
    margin-left 15px
  .skill .exp
    border-left 0
    & li
      list-style circle
      margin-top 10px
  .exp p 
    margin-bottom 0
  .exp > li 
    margin 10px 0 0 20px
  .exp img
    width 150px
    float left
    margin-right 10px
  .efe .task4img 
    height 73px
  footer
    display none