// ----------------------
// Custom global variables
// ----------------------

mq-desktop = 'screen and (min-width: 1024px)'
mq-tablet = 'screen and (max-width: 1023px) and (min-width: 768px)'
mq-mobile = 'screen and (max-width: 767px)'
mq-below-desktop = 'screen and (max-width: 1023px)'


// Color
